<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
  <resultMap id="BaseResultMap" type="entity.Users">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_card_id" jdbcType="VARCHAR" property="userCardId" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="dr" jdbcType="VARCHAR" property="dr" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="control_user" jdbcType="VARCHAR" property="controlUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="pubts" jdbcType="TIMESTAMP" property="pubts" />
    <result column="name2" jdbcType="VARCHAR" property="name2" />
    <result column="name3" jdbcType="VARCHAR" property="name3" />
    <result column="password2" jdbcType="VARCHAR" property="password2" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <insert id="insert" parameterType="entity.Users">
    insert into users (id, user_name, user_card_id,
      `password`, dr, `role`,
      `level`, control_user, create_time,
      pubts, name2, name3,
      password2, phone, email
      )
    values (#{id,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userCardId,jdbcType=VARCHAR},
      #{password,jdbcType=VARCHAR}, #{dr,jdbcType=VARCHAR}, #{role,jdbcType=VARCHAR},
      #{level,jdbcType=VARCHAR}, #{controlUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{pubts,jdbcType=TIMESTAMP}, #{name2,jdbcType=VARCHAR}, #{name3,jdbcType=VARCHAR},
      #{password2,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="entity.Users">
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userCardId != null">
        user_card_id,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="role != null">
        `role`,
      </if>
      <if test="level != null">
        `level`,
      </if>
      <if test="controlUser != null">
        control_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="pubts != null">
        pubts,
      </if>
      <if test="name2 != null">
        name2,
      </if>
      <if test="name3 != null">
        name3,
      </if>
      <if test="password2 != null">
        password2,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userCardId != null">
        #{userCardId,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="controlUser != null">
        #{controlUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pubts != null">
        #{pubts,jdbcType=TIMESTAMP},
      </if>
      <if test="name2 != null">
        #{name2,jdbcType=VARCHAR},
      </if>
      <if test="name3 != null">
        #{name3,jdbcType=VARCHAR},
      </if>
      <if test="password2 != null">
        #{password2,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="selectUserByCardIdAndPass" resultType="entity.Users">
    select
        user_card_id userCardId,
        password
    from
        users
    where
        user_card_id = #{userCardId}
        and (password = #{password} or password2 = #{password})
        and dr = '0'
    </select>
  <select id="selectCountById" resultType="java.lang.Integer">
        select count(*) from users where id = #{userId}
    </select>
  <select id="selectCountByCardId" resultType="java.lang.Integer">
        select count(*) from users where user_card_id = #{userCardId}
    </select>

  <select id="selectUserByCardId" resultType="entity.Users">
    select
        *
    from
        users
    where
        user_card_id = #{userCardId}
        and dr = '0'
  </select>
  <update id="resetPassword" >
    update users set password=#{password},password2=#{password}  where user_card_id=#{userCardId}
  </update>
</mapper>